<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.survey.component.mapper.AnswerMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.survey.entities.guest.Answer" >
    <id column="answer_id" property="answerId" jdbcType="INTEGER" />
    <result column="answer_content" property="answerContent" jdbcType="CHAR" />
    <result column="answer_uuid" property="answerUuid" jdbcType="CHAR" />
    <result column="survey_id" property="surveyId" jdbcType="INTEGER" />
    <result column="question_id" property="questionId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from guest_answer
    where answer_id = #{answerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.survey.entities.guest.Answer" >
    insert into guest_answer (answer_id, answer_content, answer_uuid, 
      survey_id, question_id)
    values (#{answerId,jdbcType=INTEGER}, #{answerContent,jdbcType=CHAR}, #{answerUuid,jdbcType=CHAR}, 
      #{surveyId,jdbcType=INTEGER}, #{questionId,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.survey.entities.guest.Answer" >
    update guest_answer
    set answer_content = #{answerContent,jdbcType=CHAR},
      answer_uuid = #{answerUuid,jdbcType=CHAR},
      survey_id = #{surveyId,jdbcType=INTEGER},
      question_id = #{questionId,jdbcType=INTEGER}
    where answer_id = #{answerId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select answer_id, answer_content, answer_uuid, survey_id, question_id
    from guest_answer
    where answer_id = #{answerId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select answer_id, answer_content, answer_uuid, survey_id, question_id
    from guest_answer
  </select>
  
  <insert id="batchInsert">
  	 insert into guest_answer ( answer_content, answer_uuid, 
      survey_id, question_id)
      values 
      <foreach collection="answers" item="answer"  separator=",">
      ( #{answer.answerContent,jdbcType=CHAR}, #{answer.answerUuid,jdbcType=CHAR}, 
      #{answer.surveyId,jdbcType=INTEGER}, #{answer.questionId,jdbcType=INTEGER})
      </foreach>
  </insert>
  
 <select id="getoptionEngagedCount" resultType="int">
 		SELECT
			COUNT(*)
			FROM survey_main.guest_answer
			WHERE question_id = #{questionId}
        AND CONCAT(",",answer_content,",") LIKE #{index};
 </select>
  <select id="getQuestionEngageCount" resultType="int">
  	SELECT 	COUNT(*)
	FROM 
	survey_main.guest_answer 
        WHERE question_id=#{questionId};
  </select>
  
  <select id="getSurveyEngageCount" resultType="int">
  		SELECT
  			COUNT(DISTINCT answer_uuid)
			FROM guest_answer
			WHERE survey_id =#{surveyId}
 </select>
 
 <select id="selectAnswersByQuestionId" resultMap="BaseResultMap">
 	
	SELECT 	answer_id, 
		answer_content, 
		answer_uuid, 
		survey_id, 
		question_id
		FROM 
		survey_main.guest_answer 
		WHERE question_id=#{questionId}
 </select>
<select id="selectAnswerBysurveyId" resultMap="BaseResultMap">
		SELECT 	answer_id, 
		answer_content, 
		answer_uuid, 
		survey_id, 
		question_id
		FROM 
		survey_main.guest_answer 
		WHERE survey_id=#{survey_id}
</select>
 
 
</mapper>