<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.survey.component.mapper.AuthMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.survey.entities.manager.Auth" >
    <id column="auth_id" property="authId" jdbcType="INTEGER" />
    <result column="auth_name" property="authName" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manager_auth
    where auth_id = #{authId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.survey.entities.manager.Auth" >
    insert into manager_auth (auth_id, auth_name)
    values (#{authId,jdbcType=INTEGER}, #{authName,jdbcType=CHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.survey.entities.manager.Auth" >
    update manager_auth
    set auth_name = #{authName,jdbcType=CHAR}
    where auth_id = #{authId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select auth_id, auth_name
    from manager_auth
    where auth_id = #{authId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select auth_id, auth_name
    from manager_auth
  </select>
  <delete id="batchDelete">
  	 delete from manager_auth
    where auth_id in 
    <foreach collection="authIds" item="authId" open="(" close=")" separator=",">
    #{authId,jdbcType=INTEGER}
  	</foreach>
  </delete>
  
  <resultMap type="com.atguigu.survey.entities.manager.Res" id="getResListByAuthIdResultMap">
	  	<id column="res_id" property="resId" jdbcType="INTEGER" />
	    <result column="servlet_path" property="servletPath" jdbcType="CHAR" />
	    <result column="res_code" property="resCode" jdbcType="INTEGER" />
	    <result column="res_pos" property="resPos" jdbcType="INTEGER" />
	    <result column="public_status" property="publicStatus" jdbcType="BIT" />
  </resultMap>
  
  <select id="getResListByAuthId" resultMap="getResListByAuthIdResultMap">
  	SELECT 	manager_res.res_id, 
	manager_res.servlet_path, 
	manager_res.res_code, 
	manager_res.res_pos, 
	manager_res.public_status
	 
	FROM 
	inner_auth_res  LEFT JOIN
	manager_res  ON inner_auth_res.res_id=manager_res.res_id
	WHERE inner_auth_res.auth_id=#{authId}
  </select>

	<delete id="removeAllResByAuthId">
		DELETE FROM inner_auth_res 
		WHERE
	 	auth_id =#{authId}
	</delete>

	<insert id="insertRes">
			INSERT INTO inner_auth_res 
				(res_id, 
				auth_id
				)
				VALUES
		<foreach collection="resIdList" item="resId" separator=",">
			(#{resId},#{authId})
		</foreach>
	</insert>
	
	<resultMap type="com.atguigu.survey.entities.manager.Role" id="getRoleListByAuthIdResultMap">
		 <id column="role_id" property="roleId" jdbcType="INTEGER" />
    	 <result column="role_name" property="roleName" jdbcType="CHAR" />
	</resultMap>
	<select id="getRoleListByAuthId" resultMap="getRoleListByAuthIdResultMap">
		SELECT 	manager_role.role_id, 
		manager_role.role_name
		FROM 
		inner_role_auth LEFT JOIN  manager_role ON 
		inner_role_auth.role_id=manager_role.role_id
		WHERE inner_role_auth.auth_id=#{authId}
	</select>
	
	<delete id="removeAllAuthResofAuthIdList">
		DELETE FROM survey_main.inner_auth_res 
		WHERE
		auth_id IN
		<foreach collection="authIds" item="authId" open="(" close=")" separator=",">
			#{authId}
		</foreach>
	</delete>
	
	<delete id="removeAllAuthRoleofAuthIdList">
		DELETE FROM survey_main.inner_role_auth 
		WHERE
		auth_id IN
		<foreach collection="authIds" item="authId" open="(" close=")" separator=",">
			#{authId}
		</foreach>
	</delete>
	
</mapper>