<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.survey.component.mapper.EmployeeMapper">

	<update id="updateEmpName">
		update test_employee set emp_name=#{empName}
		where emp_id=#{empId}
	</update>
	
	<select id="selectAll" resultType="com.atguigu.survey.entities.test.Employee">
		select emp_id empId,emp_name empName,age from test_employee
	</select>
	
</mapper>