<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.survey.component.mapper.LogMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.survey.entities.manager.Log" >
    <id column="log_id" property="logId" jdbcType="INTEGER" />
    <result column="operator" property="operator" jdbcType="CHAR" />
    <result column="operate_time" property="operateTime" jdbcType="CHAR" />
    <result column="method_name" property="methodName" jdbcType="CHAR" />
    <result column="type_name" property="typeName" jdbcType="CHAR" />
    <result column="input_data" property="inputData" jdbcType="VARCHAR" />
    <result column="output_data" property="outputData" jdbcType="VARCHAR" />
    <result column="exception_type" property="exceptionType" jdbcType="CHAR" />
    <result column="exception_message" property="exceptionMessage" jdbcType="CHAR" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manager_log
    where log_id = #{logId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" >
    insert into ${logTableName} ( operator, operate_time, 
      method_name, type_name, input_data, 
      output_data, exception_type, exception_message
      )
    values ( #{log.operator,jdbcType=CHAR}, #{log.operateTime,jdbcType=CHAR}, 
      #{log.methodName,jdbcType=CHAR}, #{log.typeName,jdbcType=CHAR}, #{log.inputData,jdbcType=VARCHAR}, 
      #{log.outputData,jdbcType=VARCHAR}, #{log.exceptionType,jdbcType=CHAR}, #{log.exceptionMessage,jdbcType=CHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.survey.entities.manager.Log" >
    update manager_log
    set operator = #{operator,jdbcType=CHAR},
      operate_time = #{operateTime,jdbcType=CHAR},
      method_name = #{methodName,jdbcType=CHAR},
      type_name = #{typeName,jdbcType=CHAR},
      input_data = #{inputData,jdbcType=VARCHAR},
      output_data = #{outputData,jdbcType=VARCHAR},
      exception_type = #{exceptionType,jdbcType=CHAR},
      exception_message = #{exceptionMessage,jdbcType=CHAR}
    where log_id = #{logId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select log_id, operator, operate_time, method_name, type_name, input_data, output_data, 
    exception_type, exception_message
    from manager_log
    where log_id = #{logId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select log_id, operator, operate_time, method_name, type_name, input_data, output_data, 
    exception_type, exception_message
    from manager_log
  </select>
  
  <update id="CreateLogTableByName">
  		CREATE TABLE IF NOT EXISTS ${tableName} LIKE  survey_main.manager_log
  </update>
  
  <select id="selectAllLogtableNamesInSurvey_log" resultType="String">
  	SELECT 	
		TABLE_NAME
		FROM 
		information_schema.TABLES 
		WHERE TABLE_SCHEMA =#{tableName}
  </select>
  
  <select id="getAllLogInSurvey_log" resultMap="BaseResultMap">
  		<trim  suffixOverrides="UNION">
  		<foreach collection="logTableNames" item="logTableName" separator="UNION">
	  		SELECT 	log_id, 
			operator, 
			operate_time, 
			method_name, 
			type_name, 
			input_data, 
			output_data, 
			exception_type, 
			exception_message
			 
			FROM 
			${logTableName}
  		</foreach>
  		</trim>
  </select>
</mapper>