<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.survey.component.mapper.ResMapper" >
  <resultMap id="BaseResultMap" type="com.atguigu.survey.entities.manager.Res" >
    <id column="res_id" property="resId" jdbcType="INTEGER" />
    <result column="servlet_path" property="servletPath" jdbcType="CHAR" />
    <result column="res_code" property="resCode" jdbcType="INTEGER" />
    <result column="res_pos" property="resPos" jdbcType="INTEGER" />
    <result column="public_status" property="publicStatus" jdbcType="BIT" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from manager_res
    where res_id = #{resId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.atguigu.survey.entities.manager.Res" >
    insert into manager_res (res_id, servlet_path, res_code, 
      res_pos, public_status)
    values (#{resId,jdbcType=INTEGER}, #{servletPath,jdbcType=CHAR}, #{resCode,jdbcType=INTEGER}, 
      #{resPos,jdbcType=INTEGER}, #{publicStatus,jdbcType=BIT})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.atguigu.survey.entities.manager.Res" >
    update manager_res
    set servlet_path = #{servletPath,jdbcType=CHAR},
      res_code = #{resCode,jdbcType=INTEGER},
      res_pos = #{resPos,jdbcType=INTEGER},
      public_status = #{publicStatus,jdbcType=BIT}
    where res_id = #{resId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select res_id, servlet_path, res_code, res_pos, public_status
    from manager_res
    where res_id = #{resId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select res_id, servlet_path, res_code, res_pos, public_status
    from manager_res order by servlet_path
  </select>
  
    <insert id="batchSaveRes">
  	insert into manager_res ( servlet_path, res_code, 
      res_pos, public_status)
    values
    	<foreach collection="list" item="res" separator=",">
     ( #{res.servletPath}, #{res.resCode}, 
      #{res.resPos}, #{res.publicStatus})
      </foreach>
  </insert>
  
  <delete id="batchDelete">
  	delete from manager_res
    where res_id in
    <foreach collection="resIds" item="resId" open="(" close=")" separator=",">
     #{resId,jdbcType=INTEGER}
     </foreach>
  </delete>
  
  <update id="changeStatus">
  	 update manager_res
    set 
      public_status = ! public_status
    where res_id = #{resId,jdbcType=INTEGER}
  </update>
  
  <select id="findResByServletPath" resultMap="BaseResultMap">
  	select res_id, servlet_path, res_code, res_pos, public_status
    from manager_res where servlet_path=#{servletPath}
  </select>
  
  <select id="getMaxResCode" resultType="Integer">
  		SELECT MAX( res_code)
    	FROM manager_res where res_pos =#{leadingResPos}
  </select>
  <select id="getMaxResPos" resultType="Integer">
  	SELECT MAX( res_pos)
    	FROM manager_res 
  </select>
</mapper>